extends layout

block settings
  - aside = true;
  - header = true;
  - title = 'Телевізори Vinga';
  - breadcrumbs = ['Головна', 'Телевізори']

block aside

  form.product-filter.main-aside__product-filter.js-filter(action='/' method='post')
    .product-filter__inner
      each property in db.catalogFilter
        .product-filter__group
          .product-filter__title(class=property.opened ? 'is-opened' : '')= property.title
          .product-filter__content

            if (property.values)
              ul.product-filter__list(class=property.inline ? 'product-filter__list--inline' : '')

                each value in property.values
                  li.product-filter__item
                    if value.tag
                      label.tag.product-filter__tag
                        input.tag__input(type='checkbox')
                        span.tag__label
                          span.tag__value= value.title
                          span.tag__count= value.count
                    else
                      label.checkbox.product-filter__checkbox
                        input.checkbox__input(type='checkbox')
                        span.checkbox__toggle
                        span.checkbox__label= value.title
                          if value.count 
                            span.checkbox__count (#{value.count})
            
            if (property.type === 'price')
              .product-filter__price
                .product-filter__values
                  .product-filter__value
                    .field.product-filter__field
                      label.label.field__label Від
                      input.input.field__input.js-input-price.js-price-min(type='tel' name='min')
                  .product-filter__value
                    .field.product-filter__field
                      label.label.field__label До
                      input.input.field__input.js-input-price.js-price-max(type='tel' name='max')
                input.product-filter__range.js-price-range(type='text' data-min='1200' data-max='15000' data-from='1200' data-to='12500' data-step='10')
    
    .product-filter__footer
      button.product-filter__reset(type='reset') Очистити
      button.btn.btn-primary.product-filter__btn Застосувати


block content

  // sorting
  .product-sorting.main-content__product-sorting
    .select.product-sorting__select
      select.select__field
        option(value='0') Сортування за ціною
        option(value='1') Сортування за популярністю
        option(value='2') Сортувати якось ще
    
    .select.product-sorting__select
      select.select__field
        option(value='24') 24
        option(value='48') 48
        option(value='96') 96
    
    button.product-sorting__filter.js-filter-toggle


  // catalog
  .grid.grid--flush.main-content__grid

    each product in db.products.all
      .col.main-content__col
        +product-card(product, 'main-content')
  
  // pagination
  ul.pagination.main-content__pagination
    li.pagination__item
      a.pagination__link.is-active(href='#' title='') 1
    li.pagination__item
      a.pagination__link(href='#' title='') 2
    li.pagination__item
      a.pagination__link(href='#' title='') 3
    li.pagination__item
      a.pagination__link.pagination__next(href='#' title='')
    li.pagination__item
      a.pagination__link(href='#' title='') 32

block modals
  include ../components/modal/buy
